<section class="main-gallery" id="home">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <button mat-button class="primary" (click)="doCalcul()">Lancer l'algorithme</button>
                    <button mat-button class="primary" (click)="modifyAllValue()">Supprimer le calcul</button>
                    <p>Pour modifier une valeur, cliquer en dehors de la case ou appuyer sur la touche "Entrer"</p>
                    <p>{{timeLeft}} secondes de chargement...</p>
                </div>
            </div>
        </div>


<div *ngIf="tabs">
    <!--ligne1-->
    <div class="row">
        <div class="col-xs-6 .col-sm-4">
            <input matInput value="{{tabs[0].valeur}}" #id0 name="id0" id="id0" (blur)="modifyValue(tabs[0].id, {id: tabs[0].id, valeur: id0.value})" (keyup.enter)="modifyValue(tabs[0].id, {id: tabs[0].id, valeur: id0.value})" type="number">
        </div>
        <div class="col-xs-6 .col-sm-4">
            <input matInput value="{{tabs[4].valeur}}" #id4 name="id4" id="id4" (blur)="modifyValue(tabs[4].id, {id: tabs[4].id, valeur: id4.value})" (keyup.enter)="modifyValue(tabs[4].id, {id: tabs[4].id, valeur: id4.value})" type="number">
            <input matInput value="-" disabled>
            <input matInput value="{{tabs[5].valeur}}" #id5 name="id5" id="id5" (blur)="modifyValue(tabs[5].id, {id: tabs[5].id, valeur: id5.value})" (keyup.enter)="modifyValue(tabs[5].id, {id: tabs[5].id, valeur: id5.value})" type="number">
        </div>
        <div class="col-xs-6 .col-sm-4">
            <div *ngIf="id0 != null || id1 != null || id2 != null || id3 != null || id4 != null || id5 != null || id6 != null ||id7 != null || id8 != null">
                <input matInput [value]="calculate(id0, id1, id2, id3, id4, id5, id6, id7, id8)" disabled>
            </div>
        </div>
    </div>



    <!--ligne2-->
    <div class="row">
        <div class="col-xs-6 .col-sm-3">
            <input matInput value="+" disabled>
        </div>
        <div class="col-xs-6 .col-sm-3">
            <input matInput value="x" disabled>
        </div>
        <div class="col-xs-6 .col-sm-3">
            <input matInput value="-" disabled>
        </div>
        <div class="col-xs-6 .col-sm-3">
            <input matInput value="=" disabled>
        </div>
    </div>

    <!--ligne3-->
    <div class="row">
        <div class="col-xs-6 .col-sm-3">
            <input matInput value="13" disabled>
        </div>
        <div class="col-xs-6 .col-sm-3">
            <input matInput value="12" disabled>
        </div>
        <div class="col-xs-6 .col-sm-3">
            <input matInput value="11" disabled>
        </div>
        <div class="col-xs-6 .col-sm-3">
            <input matInput value="10" disabled>
        </div>
    </div>

    <!--ligne4-->
    <div class="row">
        <div class="col-xs-6 .col-sm-3">
            <input matInput value="x" disabled>
        </div>
        <div class="col-xs-6 .col-sm-3">
            <input matInput value="+" disabled>
        </div>
        <div class="col-xs-6 .col-sm-3">
            <input matInput value="+" disabled>
        </div>
        <div class="col-xs-6 .col-sm-3">
            <input matInput value="-" disabled>
        </div>
    </div>

    <!--ligne5-->
    <div class="row">
        <div class="col-xs-6 .col-sm-3">
            <input matInput value="{{tabs[1].valeur}}" #id1 name="id1" id="id1" (blur)="modifyValue(tabs[1].id, {id: tabs[1].id, valeur: id1.value})" (keyup.enter)="modifyValue(tabs[1].id, {id: tabs[1].id, valeur: id1.value})" type="number">
        </div>
        <div class="col-xs-6 .col-sm-3">
            <input matInput value="{{tabs[3].valeur}}" #id3 name="id3" id="id3" (blur)="modifyValue(tabs[3].id, {id: tabs[3].id, valeur: id3.value})" (keyup.enter)="modifyValue(tabs[3].id, {id: tabs[3].id, valeur: id3.value})" type="number">
        </div>
        <div class="col-xs-6 .col-sm-3">
            <input matInput value="{{tabs[6].valeur}}" #id6 name="id6" id="id6" (blur)="modifyValue(tabs[6].id, {id: tabs[6].id, valeur: id6.value})" (keyup.enter)="modifyValue(tabs[6].id, {id: tabs[6].id, valeur: id6.value})" type="number">
        </div>
        <div class="col-xs-6 .col-sm-3">
            <input matInput value="{{tabs[8].valeur}}" #id8 name="id8" id="id8" (blur)="modifyValue(tabs[8].id, {id: tabs[8].id, valeur: id8.value})" (keyup.enter)="modifyValue(tabs[8].id, {id: tabs[8].id, valeur: id8.value})" type="number">
        </div>
    </div>


    <!--ligne6-->
    <div class="row">
        <div class="col-xs-6 .col-sm-4">
            <input matInput value=":" disabled>
            <input matInput value="{{tabs[2].valeur}}" #id2 name="id2" id="id2" (blur)="modifyValue(tabs[2].id, {id: tabs[2].id, valeur: id2.value})" (keyup.enter)="modifyValue(tabs[2].id, {id: tabs[2].id, valeur: id2.value})" type="number">
            <input matInput value="+" disabled>
        </div>
        <div class="col-xs-6 .col-sm-4">
        </div>
        <div class="col-xs-6 .col-sm-4">
            <input matInput value="x" disabled>
            <input matInput value="{{tabs[7].valeur}}" #id7 name="id7" id="id7" (blur)="modifyValue(tabs[7].id, {id: tabs[7].id, valeur: id7.value})" (keyup.enter)="modifyValue(tabs[7].id, {id: tabs[7].id, valeur: id7.value})" type="number">
            <input matInput value=":" disabled>
        </div>
    </div>
</div>


</section>
